extends ../base/base.pug
block main
    include ../components/carousel/carousel
    include ../components/offers/offers
    include ../components/categories/categories
    include ../components/modals/galleriaModal
    include ../components/featured/featured
    include ../components/advantages/advantages
    include ../components/blog/blog
    include ../components/logos/logos