- var imgSrcList = ['https://static.turbosquid.com/Preview/001195/557/2Y/bowl-planters-cactus-succulents-model_0.jpg','https://www.bentanji.com/image/catalog/Succulent%20Pot%20Set%20with%20Echeveria%20and%20Rosemary%20Plants%201.jpg','https://surrealsucculents.co.uk/wp-content/uploads/2017/11/SJfront-2.jpg', 'https://cdn.notonthehighstreet.com/fs/ed/75/ccbb-66ba-487a-a689-dea264e6086b/original_geometric-succulent-pot.jpg'];
- var itemNumber = ['firstItem','secondItem','thirdItem','fourthItem'];
- var itemPrice = '$45.00';
- var itemType = ['homeDecor', 'workspace', 'outDoor', 'workspace'];