- var imgSrcList = ['https://images-na.ssl-images-amazon.com/images/I/81W%2BKcelXwL._SL1500_.jpg','https://homeshoppe.com.au/wp-content/uploads/2017/06/Artificial-Green-Cactus-Succulents-In-Glass-Vase-16cm-Set-of-3.jpg','https://www.hospitalflorist.com.au/images/products/large/pin09hwygq.jpg'];
- var offerWords = ['Gifts for her/him', 'Browse all products', 'our highlight items'];
- var bgColorsOvrl = ['light-green','pink','dark-green'];